/* Variables */
:root {
  --nav-color: #101010;
  --nav-logo-color: #1190e6;
  --nav-links-color: #ebe6e6;
  --nav-links-hover-bg-color: #11204b;
  --footer-color: #0a0a0a;
  --dark-blue: #0034a3;
  --light-blue: #6cb8d6;
  --blue: #1b65d4;
  --blue-gradient: linear-gradient(180deg, #2e5ba2, #3fa7c8);

  --light-gradient: linear-gradient(180deg, #d1d2d6, #e9e9ec);
  --lighter-gradient: linear-gradient(180deg, #e9e9ec, #e9e9ec);
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  list-style: none;
  text-decoration: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #e4e4e4;
}

::-webkit-scrollbar-thumb {
  background: #0f1218;
}

::-webkit-scrollbar-thumb:hover {
  background: #33363b;
}

/* Selection */
::-moz-selection { 
  background: rgba(0, 162, 255, 0.4);
}

::selection {
  background: rgba(0, 162, 255, 0.4);
}



/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-color);
}

.logo {
  margin: 8px;
  padding-left: 96px;
}

.logo h1 {
  font-size: 32px;
  font-weight: 200;
}

.logo h1 a {
  color: var(--nav-logo-color);
}

.logo h1 span {
  font-weight: 525;
}

.nav-links {
  padding-right: 96px;
  display: flex;
}

.nav-links li a {
  color: var(--nav-links-color);
  padding: 16px;
  display: block;
  transition: all 0.1s;
}

.nav-links li:hover a {
  background-color: var(--nav-links-hover-bg-color);
  color: var(--light-blue);
}

.nav-links li a.active {
  color: var(--light-blue);
}

.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.toggle-button .bar {
  height: 3px;
  width: 90%;
  background-color: #fff;
  border-radius: 10px;
}

/* Content main */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}

.main-title, .sec-title {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-bottom: 2px solid var(--nav-color);
  margin: 45px 40px 55px 40px;
}

.main-title h1 {
  font-size: 35px;
  font-weight: 500;
}

.sec-title {
  width: 80%;
  margin: 45px auto;
}

.sec-title h2 {
  font-size: 21px;
  font-weight: 430;
}

/* WELCOME */
.me {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
}

.me .me-c {
  width: 258px;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 1px;
  border-right: 2px solid #000;
  animation: ani1 2.5s steps(40, end), ani2 .75s step-end infinite;
}

.me .me-img {
  margin: 0 20px 10px 0;
  min-width: 200px;
  position: relative;
}
.me .me-img img {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.me .me-info p{
  margin-bottom: 6px;
}

.me .me-info h2 {
  font-size: 22px;
  font-weight: 380;
  margin-bottom: 10px;
}

.me .me-info h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}

/* LEARNING */
.learning, .learning-content, .learning-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto 50px auto;
  padding: 15px;
  text-align: center;
}

.learning i {
  color: var(--dark-blue);
}

.learning h3 {
  font-size: 23px;
  margin-bottom: 10px;
}

.learning p {
  margin-bottom: 6px;
}

span.emp {
  font-size: 18px;
  font-weight: 500;
}
span.b-emp {
  font-size: 20px;
  font-weight: 560;
}
span.underline {
  font-weight: 400;
  text-decoration: underline;
}


/* SKILLS */
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill {
  width: 80%;
  margin-bottom: 25px;
}

.skill .skill-name, .skill-info {
  text-align: center;
}

.skill-name {
  background: var(--light-gradient);
  border: 1px solid #111;
  cursor: pointer;
  padding: 5px;
  user-select: none;
  font-size: 15px;
}

.bar {
  background-color: #111;
  width: 100%;
  height: 6px;
}
.percentage {
  background-color: var(--light-blue);
  height: 6px;
}
.percentage.php {
  width: 50%;
}
.percentage.java {
  width: 45%;
}
.percentage.html {
  width: 65%;
}
.percentage.css {
  width: 62%;
}
.percentage.javascript {
  width: 60%;
}
.percentage.sass {
  width: 40%;
}
.percentage.node {
  width: 30%;
}
.percentage.typescript {
  width: 40%;
}
.percentage.sql {
  width: 55%;
}
.percentage.git {
  width: 30%;
}
.percentage.jquerry {
  width: 50%;
}
.percentage.react {
  width: 20%;
}
.percentage.uml {
  width: 50%;
}
.skill-name h3 {
  transition: all .2s;
}
.skill:hover .skill-name h3{
  transform: scale(.90);
  color: var(--blue);
  opacity: .76;
}

.skill-name.active {
  border-bottom: none;
  color: var(--blue);
}

.skill-info.active{  
  display: block;
}

.skill-info {
  background: var(--lighter-gradient);
  display: none;
  border: 1px solid #111;
  border-top: none;
  padding: 10px;
}


/* PROJECTS */
.projects {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
}

.project-img {
  min-width: 850px;
  max-width: 850px;
  height: 100%;
  margin-bottom: 30px;
}

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  border: 2px solid #101010;
  border-radius: 8px;
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-title {
  font-size: 25px;
  margin-bottom: 5px;
  font-weight: 450;
}

.project-technology span {
  display: block;
  color: rgba(0, 0, 0, 0.473);
  font-weight: 550;
  margin-bottom: 25px;
}

.project-text {
  margin-bottom: 15px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.932);
}

.project-text-sec {
  color: rgba(0, 0, 0, 0.61);
  margin-bottom: 40px;
}

.project-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.project-btn {
  padding: 10px 20px;
  width: 100px;
  color: #fff;
  background: var(--blue-gradient);
  border: 1px solid var(--dark-blue);
  border-radius: 4px;
  transition: all .15s ease-in-out;
  margin: 0 15px;
}
.project-btn:hover {
  filter: brightness(85%);
}


.line {
  background-color: var(--nav-color);
  width: 100%;
  height: 3px;
  margin: 60px auto;
}


/* CONTACT */
.contact-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.contact-group .mobile, .contact-group .email, .contact-group .link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  padding: 5px;
}

.contact-group i {
  margin-bottom: 5px;
  color: var(--dark-blue);
}

.contact-group .contact-links {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.contact-links .link i {
  padding: 10px;
  transition: all .1s ease-in-out;
  color: var(--dark-blue);
}
.contact-links .link i:hover {
  transform: scale(.95);
  color: var(--blue);
}


/* FOOTER */
.footer {
  padding: 15px;
  background-color: var(--footer-color);
  margin-top: 20px;
}

.footer-container {
  padding: 30px;
  color: rgba(255, 255, 255, 0.801);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
.footer-info p {
  font-size: 14px;
}

.footer-links {
  margin-bottom: 25px;
}
.footer-links,
.footer-links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-links ul li a {
  color: var(--nav-links-color);
  font-size: 14px;
}
.footer-links ul li a:hover {
  text-decoration: underline;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-contact a {
  color: var(--nav-logo-color);
}



/* Animations */
@keyframes ani1 {
  from {
    width: 0;
  }
  to {
    width: 258px;
  }
}

@keyframes ani2 {
  from, to  {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}


/* MOBILE VIEW */
@media (max-width: 900px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .logo {
    padding-left: 10px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    padding: 0;
    width: 100%;
  }

  .nav-links li {
    text-align: center;
  }

  .nav-links li a {
    padding: 20px;
  }

  .nav-links.responsive {
    display: flex;
  }

  .wrapper {
    margin-top: 0;
    padding-top: 10px;
  }

  .main-title {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .sec-title {
    margin: 5px auto;
  }

  .me {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .me .me-img {
    margin: 0 auto 15px auto;
    width: 40%;
  }
  .me .me-img img{
    width: 100%;
    position: static;
  }

  .me .me-c { 
    animation: none;
    border: none;
    width: 100%;
  }

  .learning {
    width: 100%;
    padding: 5px;
  }

  .learning-content {
    margin: 5px;
  }

  .skills {
    margin: 25px 10px;
  }

  .skill {
    width: 100%;
  }

  .project {
    max-width: 80rem;
    padding: 20px;
    text-align: center;
  }

  .project-img {
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    margin-bottom: 5px;
  }

  .project-img img {
    object-fit: contain;
  }

  .contact-group {
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
  }

  #contactForm .form-group {
    width: 100%;
  } 


  .footer {
    padding: 0;
    text-align: center;
  }
}
